@page
@model Login_Session.Pages.UserPages.ViewProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Your CAA gyms user profile</h1>
<br />
<h4>User : @Model.FirstName </h4>

<br />

<div>
    <p><a class="btn-outline-secondary btn-sm" asp-page="/UserPages/UserIndex">Back to Main Page</a></p>
</div>