@page
@model Login_Session.Pages.Exercises.AddModel
@{
    ViewData["Title"] = "Add Exercise";
}


<h1>Create new exercise</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="Exercise.ExerciseName" class="control-label"></label>
                <input asp-for="Exercise.ExerciseName" class="form-control" />
                <span asp-validation-for="Exercise.ExerciseName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Exercise.RepNoTime" class="control-label"></label>
                <input asp-for="Exercise.RepNoTime" class="form-control" />
                <span asp-validation-for="Exercise.RepNoTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Exercise.SetNo" class="control-label"></label>
                <input asp-for="Exercise.SetNo" class="form-control" />
                <span asp-validation-for="Exercise.SetNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Exercise.ExerciseDescription" class="control-label"></label>
                <input asp-for="Exercise.ExerciseDescription" class="form-control" />
                <span asp-validation-for="Exercise.ExerciseDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Exercise.ExerciseArea" class="control-label"></label>
                @Html.DropDownListFor(model => model.Exercise.ExerciseArea, new SelectList(Model.EArea), "Select Area", new { @class = "form-control", style = "width: 130px" })
                <span asp-validation-for="Exercise.ExerciseArea" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-secondary btn-block" />
            </div>


        </form>
    </div>
</div>

<div>
    <a class="btn-outline-secondary" asp-page="/AdminPages/AdminIndex">Back to Main Admin</a>
</div>