@page
@model Login_Session.Pages.AdminPages.AdminIndexModel
@{
    ViewData["Title"] = "Admin Index";
}

<h1>:: Admin Page ::</h1>
<br />

<h2>Welcome @Model.FirstName</h2>

<br />
<div class="row">

    <div class="col-sm-2">
        <p><a asp-page="/Users/Create">Create User</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/AdminPages/ViewUsers">View User</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/Exercises/Add">Add Exercise</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/AdminPages/ViewExercises">View Exercise</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/LogoutPage/Logout">Logout</a></p>
    </div>

</div>

