@page
@model Login_Session.Pages.AdminPages.ViewUsersModel
@{
    ViewData["Title"] = "View Users";
}

<h1>Current users</h1>
<br />
<h3>User : @Model.FirstName</h3>
<br />

<div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>User Name</th>
                <th>Role</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.User.Count; i++)
        {
            <tr>
                <td>@Model.User[i].FirstName</td>
                <td>@Model.User[i].UserName</td>
                <td>@Model.User[i].Role</td>
            </tr>
        }


    </table>
</div>

<div>
    <p><a class="btn-outline-secondary" target="_blank" asp-route-pdf="1">PDF Report</a></p>
</div>

<div>
    <p><a class="btn-outline-secondary" asp-page="/Users/Create">Create New User</a></p>
</div>

<div>
    <p><a class="btn-outline-secondary" asp-page="/AdminPages/DeleteUsers">Delete Users</a></p>
</div>

<div>
    <p><a class="btn-outline-secondary" asp-page="/AdminPages/EditUsers">Edit Users</a></p>
</div>

<div>
    <p><a class="btn-outline-secondary" asp-page="/AdminPages/AdminIndex">Back to Main Admin</a></p>
</div>
